.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
  padding: 50px 5px;
  width: 100%;
}

.container {
  border: 1px solid $border_color;
  border-top: 8px solid #f2ac04;
  max-width: 1005px;
  padding: 0px 40px;
}