$logo_height: 82px;

.header__top {
  align-items: center;
  display: flex;
  padding: 15px 0;
}

.header__logo {
  position: relative;

  &::after {
    background-color: #cac8c5;
    content: "";
    height: 50px;
    top: calc(($logo_height - 50px) / 2);
    position: absolute;
    width: 1px;
  }
}

.header__title-block {
  padding-left: 25px;
}

.header__title {
  color: #f2ac04;
  font-family: "Novecentowide-Book";
  font-size: 20px;
  margin-bottom: 14px;
}

.header__subtitle {
  color: #929292;
  font-family: "Myriad Pro";
  font-size: 14px;
}

.header__links {
  border-block: 1px solid $border_color;
  color: #6b6b6b;
  display: flex;
  font-family: "Swis721 Th BT Thin";
  font-size: 18px;
  padding: 14px 0;
  text-transform: uppercase;
}

.header__links-item {
  margin-right: 78px;
  transition: all .3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    letter-spacing: 1px;
  }

  &:active {
    letter-spacing: 0px;
  }
} 