$headers-balance-margin: 3px;

.info {
  display: grid;
  grid-template-columns: 275px 340px 1fr;
  padding: 35px 0 35px 0;

  &__header {
    color: #565656;
    font-family: "HelveticaNeueLTPro-MdCn";
    font-size: 18px;
    margin: $headers-balance-margin 0 38px 0;
    text-transform: uppercase;
  }

  &__news-list-item {
    border-bottom: 1px dashed #969696;
    display: flex;
    margin: 0 10px 19px 0;
    padding-bottom: 10px;
  }

  &__news-date {
    // border-right: 1px solid #c7c7c7;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    position: relative;

    &::after {
      background-color: #c7c7c7;
      content: "";
      height: 32px;
      left: 27px;
      position: absolute;
      width: 1px;
    }
  }

  &__news-date-day {
    color: #f2ac04;
    font-family: "HelveticaNeueLTPro-MdCn";
    font-size: 18px;
    margin-bottom: 5px;
  }

  &__news-date-mon {
    color: #777777;
    font-family: "InterstateCond";
    font-size: 10px;
    text-transform: uppercase;
  }

  &__news-content {
    padding-left: 10px;
  }

  &__news-title {
    color: #565656;
    font-family: "Myriad Pro";
    font-size: 16px;
    margin-bottom: 7px;
  }

  &__news-text {
    color: #939393;
    font-family: "Tahoma";
    font-size: 12px;
  }

  // --------------------------------------

  &__who-we-are {
    padding: 0 38px;
    border-inline: 1px solid #e5e5e5;
  }

  &__who-we-are-text {
    color: #3c3c3c;
    font-family: "Helvetica CE";
    line-height: 23px;
    margin-bottom: 20px;
  }

  // -------------------------------------

  &__contact-us {
    padding-left: 55px;

    .info__header {
      font-size: 22px;
      margin: 0 0 30px 0;
      text-transform: capitalize;
    }
  }

  &__contact-us-grid {
    display: grid;
    gap: 25px 20px;
    grid-template-columns: 25px 1fr;
  }

  &__contact-us-grid-item {
    align-items: center;
    color: #757575;
    display: flex;
    font-family: "Myriad Pro";
    font-size: 16px;
    justify-content: center;
    letter-spacing: 1.75px;
    min-height: 25px;
    position: relative;

    &--bold {
      font-family: "Swiss721BT-BlackCondensed";
      letter-spacing: 0;
    }

    &:nth-child(7) {
      align-items: start;
    }

    &:nth-child(8) {
      line-height: 20px;
      margin-top: 10px;
    }

    &:nth-child(even) {
      justify-content: start;

      &::after {
        border-bottom: 1px dashed #3c3c3c;
        content: "";
        height: 1px;
        position: absolute;
        right: 28px;
        top: 38px;
        width: 220px;
      }
    }

    &:last-child::after {
      display: none;
    }
  }

}