* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
  padding: 50px 5px;
  width: 100%;
}

.container {
  border: 1px solid #ababab;
  border-top: 8px solid #f2ac04;
  max-width: 1005px;
  padding: 0px 40px;
}

.button-container {
  padding-right: 15px;
  text-align: right;
}

.button {
  background-color: #2b2b29;
  color: #fff;
  display: inline-block;
  font-family: "Tahoma";
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  position: relative;
  text-align: center;
  transition: all 0.3s;
  width: 43px;
}
.button:hover {
  width: 50px;
}
.button:active {
  width: 43px;
}
.button::after {
  background-color: #2b2b29;
  color: #fff;
  content: ">";
  position: absolute;
  right: -15px;
  transition: all 0.3s;
  width: 14px;
}

@font-face {
  font-family: "Novecento WideBook";
  font-weight: 500;
  font-style: normal;
  src: local("Novecento WideBook"), url("../fonts/Novecento-WideBook.woff2") format("woff2"), url("../fonts/Novecento-WideBook.woff") format("woff"), url("../fonts/Novecento-WideBook.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  font-weight: 500;
  font-style: normal;
  src: local("Myriad Pro"), url("../fonts/Myriad-Pro.woff2") format("woff2"), url("../fonts/Myriad-Pro.woff") format("woff"), url("../fonts/Myriad-Pro.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Swis721 Th BT Thin";
  font-weight: 500;
  font-style: normal;
  src: local("Swis721 Th BT Thin"), url("../fonts/Swis721-Th-BT-Thin.woff2") format("woff2"), url("../fonts/Swis721-Th-BT-Thin.woff") format("woff"), url("../fonts/Swis721-Th-BT-Thin.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Narrow CE Regular";
  font-weight: 500;
  font-style: normal;
  src: local("Helvetica Narrow CE Regular"), url("../fonts/Helvetica-Narrow-CE-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Narrow-CE-Regular.woff") format("woff"), url("../fonts/Helvetica-Narrow-CE-Regular.eot") format("eot");
  font-display: swap;
}
.header__top {
  align-items: center;
  display: flex;
  padding: 15px 0;
}

.header__logo {
  position: relative;
}
.header__logo::after {
  background-color: #cac8c5;
  content: "";
  height: 50px;
  top: 16px;
  position: absolute;
  width: 1px;
}

.header__title-block {
  padding-left: 25px;
}

.header__title {
  color: #f2ac04;
  font-family: "Novecento WideBook";
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.header__subtitle {
  color: #929292;
  font-family: "Myriad Pro";
  font-size: 14px;
}

.header__links {
  border-block: 1px solid #ababab;
  display: flex;
  padding: 14px 0;
  text-transform: uppercase;
}

.header__links-item {
  color: #6b6b6b;
  font-family: "Swis721 Th BT Thin";
  font-size: 18px;
  margin-right: 78px;
  transition: all 0.3s;
}
.header__links-item:last-child {
  margin-right: 0;
}
.header__links-item:hover {
  color: #363636;
}
.header__links-item:hover::after {
  width: 100%;
}
.header__links-item:active {
  color: #000000;
}
.header__links-item:active::after {
  background: #000000;
}
.header__links-item::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: #6b6b6b;
  transition: 300ms;
}

.featured {
  border-bottom: 1px solid #ccc;
  margin-top: 39px;
  padding-bottom: 23px;
}
.featured__header {
  color: #555656;
  font-family: "Tahoma";
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 12px;
}
.featured__slider {
  display: flex;
}
.featured__left-block {
  border: 1px solid #d4d4d4;
  outline: 1px solid #b0b0b0;
  outline-offset: 1px;
  margin: 2px 28px 2px 2px;
  width: 50%;
}
.featured__arrow-block {
  align-items: center;
  color: #565656;
  display: flex;
  font-family: "Tahoma";
  font-size: 18px;
  justify-content: space-between;
  padding: 15px 24px;
}
.featured__left-arrow, .featured__right-arrow {
  transition: all 0.3s;
}
.featured__left-arrow:hover, .featured__right-arrow:hover {
  transform: scale(1.1);
}
.featured__left-arrow:active, .featured__right-arrow:active {
  transform: scale(0.95);
}
.featured__right-block {
  position: relative;
}
.featured__image-container {
  position: relative;
  margin-bottom: 15px;
}
.featured__image-container img {
  display: block;
}
.featured__image-container::after {
  background-color: #000;
  bottom: -6px;
  color: #3c3c3c;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}
.featured__title-block {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 65px;
  left: 20px;
}
.featured__subtitle {
  font-family: "Novecento WideBook";
  font-size: 26px;
  margin-bottom: 20px;
}
.featured__title {
  font-family: "Tahoma";
  font-size: 40px;
  text-transform: uppercase;
}
.featured__text {
  font-family: "Helvetica Narrow CE Regular";
  font-size: 14px;
  line-height: 23px;
}/*# sourceMappingURL=styles.css.map */