.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Swis721 Th BT Thin";
  justify-content: center;
  padding: 15px 0 20px 0;

  &__logo {
    height: 55px;
    margin-bottom: 12px;
    width: 163px;
  }

  &__links {
    align-items: center;
    color: #535353;
    display: flex;
    font-size: 10px;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 3px;
  }
  
  &__links-item {
    margin: 4px 0 4px 0;
    padding-inline: 10px;
    padding: 0 10px 0 10px;
    position: relative;
    transition: all .3s;

    &:hover {
      font-size: 18px;
      margin: 0;
      padding: 0 10px 0 10px;
    }

    &:active {
      font-size: 16px;
    }
  }

  &__links-delimiter {
    background-color: #535353;
    height: 10px;
    width: 1px;
  }

  &__bottom {
    font-size: 16px;
  }

  &__copyright {
    font-size: 12px;
  }
}